# Import Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("attribution_allocation_student_data.csv")

# Part 1 Attribution

In [4]:
# Method 1: attribute customers by touch 1
print(df['touch1'].isna().sum())

0

In [5]:
df1 = df.pivot_table(values = 'convert_TF',columns = 'tier', index = 'touch1',aggfunc = np.sum)

In [6]:
df1['total_num'] = df1[1] + df1[2] + df1[3]
df1['total_spend'] = [0,6000,6000,0,6000,6000,6000]
df1['CAC'] = df1['total_spend']/df1['total_num']

In [7]:
df1

tier               1     2     3  total_num  total_spend       CAC
touch1
direct             1     4     1          6            0  0.000000
display          435   726   870       2031         6000  2.954210
email            264   402   618       1284         6000  4.672897
organic_search     1     7     7         15            0  0.000000
paid_search      129   211   328        668         6000  8.982036
referral        1519  2719  3257       7495         6000  0.800534
social           475   823   982       2280         6000  2.631579

In [8]:
df1.to_csv('touch1.csv')

In [9]:
# Method 2: attribute customers by last touch
df['LastValue'] = df.ffill(axis=1).iloc[:, -2]

In [11]:
df2 = df.pivot_table(values = 'convert_TF',columns = 'tier', index = 'LastValue',aggfunc = np.sum)

In [12]:
df2['total_num'] = df2[1] + df2[2] + df2[3]
df2['total_spend'] = [0,6000,6000,0,6000,6000,6000]
df2['CAC'] = df2['total_spend']/df2['total_num']

In [13]:
df2

tier               1     2     3  total_num  total_spend       CAC
LastValue
direct             1     1     5          7            0  0.000000
display          528   818   946       2292         6000  2.617801
email            281   555   655       1491         6000  4.024145
organic_search     2     4     5         11            0  0.000000
paid_search      176   347   481       1004         6000  5.976096
referral        1211  2107  2696       6014         6000  0.997672
social           625  1060  1275       2960         6000  2.027027

In [14]:
df2.to_csv('touch_lastvalue.csv')

In [15]:
# Method 3: attribute customers by touch 1 50%, last touch 50%
df3 = df1 + df2

In [17]:
df3['total_num'] = (df3[1] + df3[2] + df3[3])/2
df3['total_spend'] = [0,6000,6000,0,6000,6000,6000]
df3['CAC'] = df3['total_spend']/df3['total_num']

In [18]:
df3

tier               1     2     3  total_num  total_spend       CAC
touch1
direct             2     5     6        6.5            0  0.000000
display          963  1544  1816     2161.5         6000  2.775850
email            545   957  1273     1387.5         6000  4.324324
organic_search     3    11    12       13.0            0  0.000000
paid_search      305   558   809      836.0         6000  7.177033
referral        2730  4826  5953     6754.5         6000  0.888297
social          1100  1883  2257     2620.0         6000  2.290076

In [19]:
df3.to_csv('touch1&last_value.csv')

# Part 2 Allocation

Chose the way of last touch to attribute customers.

Work on the last steps by Excel, see another file.